.updateGrow {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}

.updateContainer {
  display: flex;
  flex: 1;
}

.leftContainer {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-left: 10%;
  margin-right: 1%;
}

.rightContainer {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  margin-right: 10%;
  margin-left: 1%;
}

.containerWall {
  flex: 1;
  border: solid;
  background-color: transparent;
  border-width: 1px;
}

.spaceDiv {
  flex: 1;
  height: 25px;
  background-color: white;
}

#leftWall {
  border-color:  transparent transparent transparent transparent;
}

#rightWall {
  border-color: transparent transparent transparent transparent;
}

.datePosted {
  display: flex;
  flex: 0.8;
  margin-top: -10px;
  font-size: 90%;
}

.updateTitle {
  flex: 1;
  font-family: 'cooper_lt_bt';
  color: #282828;
  font-size: 160%;
  margin-top: 5%;
}

.updateParagraph {
  flex: 5;
  font-size: 110%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.readMore {
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
}

.commentsAndLikes {
  display: flex;
  flex: 1.5;
  width: 200px;
  margin-bottom: 5%;
  font-size: 80%;
  color: inherit;
  text-decoration: inherit;
}

.commentsDiv {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
}

.likesDiv {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
}